mat-label{
    color: black !important;
}

.input-container{
    display: flex;
    gap: 16px;
}


.form-container{
    display: flex;
    gap: 24px;
    background-color: white;
    height: 100px;
    align-items: center;
    justify-content: center;
}