<form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">

  <div>
    <input type="hidden" formControlName="clientEmail" [value]="clientEmail" />
    <label for="created">Expense Date</label>
    <input type="date" id="created" formControlName="created" />
  </div>
  <div>
    <label for="type">Expense Type</label>
    <input type="text" id="type" formControlName="type" />
  </div>
  <div>
    <label for="amount">Expense Amount</label>
    <input type="number" id="amount" formControlName="amount" />
  </div>
  <div>
    <label for="receipt">Has Receipt</label>
    <input type="checkbox" id="receipt" formControlName="receipt" />
  </div>
  <button type="submit" [disabled]="!expenseForm.valid">Add Expense</button>
</form>
