<div class="user" *ngIf="!adminEmail">
  <div class="show-graphic-button"> <button mat-raised-button color="primary" (click)="showGraphic()">{{ !graphicVisible
      ? 'Mostra Andamento Mensile' : 'Nascondi Grafico'}}</button></div>

  <div *ngIf="client" class="details-container">
    <div class="table-details">

      <table mat-table [dataSource]="client.expenses" class="mat-elevation-z8">
        <ng-container matColumnDef="remove">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let expense">
            <button mat-icon-button color="warn" (click)="removeExpense(expense)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Tipo</th>
          <td mat-cell *matCellDef="let expense">{{ expense.type }}</td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Costo</th>
          <td mat-cell *matCellDef="let expense">{{ expense.amount }}</td>
        </ng-container>


        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef>Data</th>
          <td mat-cell *matCellDef="let expense">{{ expense.created | date:'short' }}</td>
        </ng-container>


        <ng-container matColumnDef="receipt">
          <th mat-header-cell *matHeaderCellDef>Ricevuta</th>
          <td mat-cell *matCellDef="let expense">{{ expense.receipt ? 'Yes' : 'No' }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <h4>Totale Spese : {{ totalExpenses | currency:'EUR':'symbol':'1.2-2' }}</h4>

    </div>

    <div class="graphic-details">
      <app-expense-chart [client]="client" *ngIf="graphicVisible"
        [updateChartTrigger]="graphicVisible"></app-expense-chart>
    </div>
  </div>

</div>


<div class="admin-container" *ngIf="adminEmail">


  <div *ngIf="client" class="details-container">
    <div class="table-details">

      <h2 style="text-align: center;"> Nota spese di {{client.name}}</h2>

      <table mat-table [dataSource]="client.expenses" class="mat-elevation-z8">

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Tipo</th>
          <td mat-cell *matCellDef="let expense">{{ expense.type }}</td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Costo</th>
          <td mat-cell *matCellDef="let expense">
            <ng-container *ngIf="expense.receipt && expense.approval">
              {{ expense.amount }}
            </ng-container>
          </td>
        </ng-container>



        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef>Data</th>
          <td mat-cell *matCellDef="let expense">{{ expense.created | date:'short' }}</td>
        </ng-container>


        <ng-container matColumnDef="receipt">
          <th mat-header-cell *matHeaderCellDef>Ricevuta</th>
          <td mat-cell *matCellDef="let expense">{{ expense.receipt ? 'Yes' : 'No' }}</td>
        </ng-container>

        <ng-container matColumnDef="approval">
          <th mat-header-cell *matHeaderCellDef>Approvazione</th>
          <td mat-cell *matCellDef="let expense">
            <mat-checkbox [(ngModel)]="expense.approval" (change)="updateAdminTotalExpenses()"
              [disabled]="!expense.receipt"></mat-checkbox>
          </td>
        </ng-container>


        <ng-container matColumnDef="reimbursement">
          <th mat-header-cell *matHeaderCellDef>Rimborso</th>
          <td mat-cell *matCellDef="let expense">
            <ng-container *ngIf="expense.receipt && expense.approval; else notApproved">
              {{ calculateAdminReimbursement(expense) | currency:'EUR':'symbol':'1.2-2' }}
            </ng-container>
            <ng-template #notApproved>
              <mat-icon>cross</mat-icon>
            </ng-template>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedAdminColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedAdminColumns;"></tr>

      </table>
      <h4>Totale Spese : {{ totalExpenses | currency:'EUR':'symbol':'1.2-2' }}</h4>

    </div>
  </div>

</div>