

<div *ngIf="client">
  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Receipt</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of client.expenses">
        <td>{{ expense.type }}</td>
        <td>{{ expense.amount }}</td>
        <td>{{ expense.created | date:'short' }}</td>
        <td>{{ expense.receipt ? 'Yes' : 'No' }}</td>
      </tr>
    </tbody>
   
    <tfoot>
      <tr>
        <td colspan="3">Total Expenses:</td>
        <td>{{ totalExpenses | currency:'EUR':'symbol':'1.2-2' }}</td>
      </tr>
    </tfoot>
  </table>
</div>
