

<div *ngIf="client" class="details-container">
  <div class="table-details"> 
  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Receipt</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of client.expenses">
        <td>{{ expense.type }}</td>
        <td>{{ expense.amount }}</td>
        <td>{{ expense.created | date:'short' }}</td>
        <td>{{ expense.receipt ? 'Yes' : 'No' }}</td>
      </tr>
    </tbody>
   
    <tfoot>
      <tr>
        <td colspan="3">Total Expenses:</td>
        <td>{{ totalExpenses | currency:'EUR':'symbol':'1.2-2' }}</td>
      </tr>
    </tfoot>
  </table>
</div>
<div class="graphic-details"> 
  <button (click)="showGraphic()">Mostra andamento Mensile</button>
  <app-expense-chart [client]="client" *ngIf="graphicVisible" [updateChartTrigger]="graphicVisible"></app-expense-chart>
</div>
</div>

