.input-login{
    display: flex;
    flex-direction: column;
}

.button-login-container{
    display: flex;
    justify-content: center;
}

.dialog{
    background-color: rgb(150, 214, 225);
    border-radius: 40px;
}