<div class="container">
  <div class="card">
    <h2>Insert your credential:</h2>

    <label for="email">Username</label>
    <input type="text" placeholder="Enter your email" [(ngModel)]="email">

    <label for="password">Password</label>
    <input type="password" [(ngModel)]="password" placeholder="Enter your password">

    <div class="button-container">
      <button color="primary" mat-raised-button mat-dialog-close cdkFocusInitial class="login"
        (click)="login()">Login</button>
      <button mat-raised-button mat-dialog-close class="cancel" color="warn" (click)="closeDialog()">Cancel</button>
    </div>


  </div>
</div>